* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/*ーーーーーーーーーーーーーーーーーーーー default settings ーーーーーーーーーーーーーーーーー*/

:root {
  --headerColor: white;
}

header {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.wrap {
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.logo {
  color: var(--headerColor);
  cursor: pointer;
  font-weight: 600;
}

.nav_list {
  display: flex;
  gap: 50px;
}

.nav_list li a {
  color: var(--headerColor);
}

.hamburger {
  display: none;
}

/*ーーーーーーーーーーーーーーーーーーーー hero settings ーーーーーーーーーーーーーーーーー*/

.hero {
  background-image: linear-gradient(
      145deg,
      rgba(255, 0, 0, 0.21),
      rgba(255, 166, 0, 0.148),
      rgba(255, 255, 0, 0.193),
      rgba(0, 128, 0, 0.218),
      rgba(0, 0, 255, 0.155)
    ),
    url(./img/hero.avif);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.main_title {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span {
  color: aqua;
}

/*ーーーーーーーーーーーーーーーーーーーー main photo ーーーーーーーーーーーーーーーーー*/
main .wrap {
  flex-direction: column;
}

.photo_section {
}

h2 {
  margin-block: 20px;
  padding-block: 20px;
  text-align: center;
}

.img_box {
  text-align: center;
}

.about_section {
}
.pictures {
  width: 30%;
}

.profile_picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.name {
  padding: 5px;
  font-size: 24px;
  text-align: center;
}

@media (max-width: 580px) {
  .pictures {
    width: 80%;
  }
  .nav_list {
    display: none;
  }

  .nav_list.open {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: black;
    top: 80px;
    right: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: flex-start;
    padding-top: 80px;
  }

  .nav_list li {
    margin: 20px auto;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .line1 {
    width: 30px;
    height: 3px;
    background-color: var(--headerColor);
    margin: 10px;
    margin-top: 0;
  }

  .line2 {
    width: 30px;
    height: 3px;
    background-color: var(--headerColor);
    margin: 10px;
  }

  .line3 {
    width: 30px;
    height: 3px;
    background-color: var(--headerColor);
    margin: 10px;
    margin-bottom: 0;
  }

  .line1.open {
    transform: rotate(-45deg) translate(-10px, 8px);
    transition: 0.5s;
  }

  .line2.open {
    display: none;
  }

  .line3.open {
    transform: rotate(45deg) translate(-1px, 1px);
    transition: 0.5s;
  }

  .main_title {
    font-size: 45px;
    top: 50%;
    left: 50%;
  }
}
