* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/*ーーーーーーーーーーーーーーーーーーーー 基本設定 ーーーーーーーーーーーーーーーーー*/

:root {
  --headerColor: white;
}

header {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.wrap {
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.logo {
  color: var(--headerColor);
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}

.nav_list {
  display: flex;
  gap: 50px;
}

.nav_list li a {
  color: var(--headerColor);
}

.hamburger {
  display: none;
}

.hero {
  background-image: linear-gradient(
      145deg,
      rgba(255, 0, 0, 0.21),
      rgba(255, 166, 0, 0.148),
      rgba(255, 255, 0, 0.193),
      rgba(0, 128, 0, 0.218),
      rgba(0, 0, 255, 0.155)
    ),
    url(./img/hero.avif);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.main_title {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span {
  color: aqua;
}

/*ーーーーーーーーーーーーーーーーーーーー  main section ーーーーーーーーーーーーーーーーー*/

main {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
  align-items: center;
}

h2 {
  margin-top: 100px;
  padding-block: 50px;
  text-align: center;
  text-decoration: underline teal 3.5px;
  font-size: 34px;
}

.img_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.picture_box {
  margin: 5px;
  border: 1px solid #000;
}

.picture {
  object-fit: cover;
  width: 300px;
  height: 100%;
}

.profile_picture {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.about_box {
  text-align: center;
}

.name {
  padding: 8px;
  font-size: 24px;
}
/* ----------------------------------footer ---------------------------------- */
footer {
  margin-top: 100px;
  padding-bottom: 40px;
  background-color: rgb(0, 0, 0);
}

.footer_title {
  padding: 30px;
  color: white;
}

.contact_box {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
  padding-top: 0;
}

.phone_icon {
  font-size: 30px;
  color: white;
}

.ig {
  font-size: 35px;
  color: white;
}

.twitter {
  font-size: 35px;
  color: white;
}
.tiktok {
  font-size: 35px;
  color: white;
}
.youtube {
  font-size: 35px;
  color: white;
}

.footer_line {
  height: 1px;
  width: 95%;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
}
@media (max-width: 580px) {
  .nav_list {
    display: none;
  }

  .nav_list.open {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: black;
    top: 80px;
    right: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: flex-start;
    padding-top: 80px;
  }

  .nav_list li {
    margin: 20px auto;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .line1 {
    width: 30px;
    height: 3px;
    background-color: var(--headerColor);
    margin: 10px;
    margin-top: 0;
  }

  .line2 {
    width: 30px;
    height: 3px;
    background-color: var(--headerColor);
    margin: 10px;
  }

  .line3 {
    width: 30px;
    height: 3px;
    background-color: var(--headerColor);
    margin: 10px;
    margin-bottom: 0;
  }

  .line1.open {
    transform: rotate(-45deg) translate(-10px, 8px);
    transition: 0.5s;
  }

  .line2.open {
    display: none;
  }

  .line3.open {
    transform: rotate(45deg) translate(-1px, 1px);
    transition: 0.5s;
  }
}

@media (max-width: 280px) {
  .footer_fz {
    font-size: 20px;
  }

  .picture {
    width: 260px;
  }
}
